article {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  right: 0;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

article,
.trending-info,
.follow-info {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}
