:root {
  --primary-98: #f5fbfe;
  --primary-95: #e7f4fd;
  --primary-90: #cfe9fc;
  --primary-70: #70bef5;
  --primary-50: #1d98f0;
  --primary-40: #0d75bf;
  --primary-35: #1265a1;
  --secondary-98: #f8fafc;
  --secondary-95: #edf3f7;
  --secondary-50: #4c88b3;
  --secondary-40: #3d6d8f;
  --secondary-25: #264459;
  --secondary-20: #172936;
  --secondary-15: #172936;
  --gray-100: #ffffff;
  --gray-98: #fafafa;
  --gray-95: #f2f2f2;
  --gray-40: #666666;
  --gray-25: #404040;
  --transparent-25: #cfe9fc;
  --transparent-10: #f5fbfe;
  --success-98: #f5fff6;
  --success-95: #e5ffe9;
  --success-60: #33ff4d;
  --success-35: #00ba18;
  --alert-98: #fff5fa;
  --alert-95: #fee6f1;
  --alert-70: #fb6aad;
  --alert-50: #f91880;
  --bold-weight: 700;
  --regular-weight: 400;
}
.text {
  font-size: 20px;
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
}
.20-px-regular {
  font-size: 20px;
  font-family: 'Barlow';
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
}
.20-px-bold {
  font-size: 20px;
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  text-transform: none;
}
.16-px-bold {
  font-size: 16px;
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;
  line-height: 16px;
  letter-spacing: 0.25px;
  text-decoration: none;
  text-transform: none;
}
.16-px-regular {
  font-size: 16px;
  font-family: 'Barlow';
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
}
.14-px-bold {
  font-size: 14px;
  font-family: 'Barlow';
  font-weight: 700;
  font-style: normal;
  line-height: 14px;
  letter-spacing: 0.25px;
  text-decoration: none;
  text-transform: none;
}
.14-px-regular {
  font-size: 14px;
  font-family: 'Barlow';
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  text-decoration: none;
  text-transform: none;
}
.body-14-px {
  font-size: 14px;
  font-family: 'Barlow';
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
}
.dark-all {
  box-shadow: 0px 0px 20px 1px #0f1b24;
}
.dark-top {
  box-shadow: 0px -8px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.dark-top {
  box-shadow: 0px -8px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.dark-right {
  box-shadow: 8px 0px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.dark-right {
  box-shadow: 8px 0px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.dark-bottom {
  box-shadow: 0px 8px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.dark-bottom {
  box-shadow: 0px 8px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.dark-left {
  box-shadow: -8px 0px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.dark-left {
  box-shadow: -8px 0px 20px #0f1b24, 0px 0px 20px 1px #0f1b24;
}
.light-all {
  box-shadow: 0px 0px 20px 1px #3d6d8f;
}
.light-top {
  box-shadow: 0px -8px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}
.light-top {
  box-shadow: 0px -8px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}
.light-right {
  box-shadow: 8px 0px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}
.light-right {
  box-shadow: 8px 0px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}
.light-bottom {
  box-shadow: 0px 8px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}
.light-bottom {
  box-shadow: 0px 8px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}
.light-left {
  box-shadow: -8px 0px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}
.light-left {
  box-shadow: -8px 0px 20px #3d6d8f, 0px 0px 20px 1px #3d6d8f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

html,
body {
  font-family: 'Barlow', sans-serif;
}
